.center {
    text-align: center;
}

.contact {
    list-style-type: none;
    padding: 0; 
}

.contact li {
    padding: 20px;
    border-bottom: 1px solid #020202;
}

.contact li:last-child {
    border-bottom: none; 
}

.contact li:first-child {
    font-weight: bold;
}

.project-card {
    margin-bottom: 30px;
}
.project-card img {
    max-height: 200px;
    object-fit: cover;
}
